@import '~@angular/material/_theming';
@import '../../common';
#btn-start,
#btn-stop {
    position: absolute;
    color: #fff;
    top: 50px;
    left: 50px;
    padding: 10px 20px;
    font-size: 20px;
}

#btn-start {
    background-color: green;
}

#btn-stop {
    background-color: red;
}

casino-roulette-spin {
    position: absolute;
    right: 300px;
    top: 100px;
}

casino-roulette-spin-history {
    position: fixed;
    right: 50px;
    top: 50px;
}

casino-roulette-spin-distribution {
    position: absolute;
    right: 50px;
    top: 50px;
}