@import '~@angular/material/_theming';
@import '../../common';
#btn-start,
#btn-stop {
    position: absolute;
    color: #fff;
    top: 50px;
    left: 50px;
    padding: 10px 20px;
    font-size: 20px;
}

#btn-start {
    background-color: green;
}

#btn-stop {
    background-color: red;
}

#roulette-wheel {
    position: absolute;
    cursor: pointer;
}

#roulette-wheel.spin {
    -webkit-animation: rotation 3s infinite linear;
}

.center {
    @include mat-elevation(8);
    position: absolute;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    background-color: silver;
}

.ball {
    @include mat-elevation(8);
    position: absolute;
    left: 381px;
    top: 155px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #fff;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(359deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes rotation180 {
    from {
        -webkit-transform: rotate(359deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}