<div class="round-live">
  <div class="ticker" fxLayout fxLayoutAlign="center center">
    <h1 class="font-effect-emboss">{{ roundNumber }}</h1>
    <iu-timer [countUp]="false" [countDown]="true" [countdownFrom]="countdownFrom" (timesUp)="onTimesUp()" class="font-effect-emboss"></iu-timer>
    <h4 class="label font-effect-outline" fxFlexAlign="start">Auction Round</h4>
    <h5 class="label font-effect-outline"  fxFlexAlign="end">End Time: {{ currentRound.endTime | date:'shortTime' }}</h5>
  </div>
  <div class="totals" fxLayout fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <!-- <casino-totals [totals]="totals$ | async" (save)="onSaveTotals($event)"></casino-totals> -->
    <!-- <casino-exchange-rate [chipValue]="chipValue$ | async"></casino-exchange-rate> -->
    <div class="total font-effect-outline">
      <h3>Total Chips in Circulation</h3>
      <h2>{{ totals.chipTotal }} Chips</h2>
    </div>
    <div class="total font-effect-emboss">
      <h3>Exchange Rate</h3>
      <h2>{{ exchangeRate | currency:undefined:'symbol':'1.3-5' }}</h2>
    </div>
    <div class="total font-effect-outline">
      <h3>Total Cash in Bank</h3>
      <h2>{{ totals.bankTotal | currency }}</h2>
    </div>
  </div>
</div>
