@import '~@angular/material/_theming';
@import '../../../common';

:host {
  overflow: hidden;
}

#content {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  overflow-y: auto;
  z-index: 1;

  #help {
    @include mat-elevation(8);
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    height: 64px;
    width: 64px;
    z-index: 5;

    mat-icon {
      @include mat-elevation(16);
      color: #fff;
      font-size: 72px;
      position: absolute;
      top: 0;
      left: 0;
    }

    mat-icon:hover {
      color: $primary-color;
    }
  }

  #help:hover {
    background-color: #fff;
    background-color: transparent;
    background: #000;

    mat-icon {
      color: #000;
      color: $primary-color;
    }
  }
}

casino-sidenav {
  position: fixed;
  left: 0;
  //top: -60px;
  bottom: 0;
  z-index: 2;
}


casino-sidenav:before {
  content: "";
  position: fixed;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;

  -webkit-box-shadow: 10px 0px 0px rgba(0, 0, 0, .8);
  -moz-box-shadow: 10px 0px 0px rgba(0, 0, 0, .8);
  box-shadow: 10px 0px 0px rgba(0, 0, 0, .8);

  z-index: 100;
}
