@import '~@angular/material/_theming';
@import '../../common';
#inner-content {
    width: 100%;
    height: 100%;
    display: block;
    casino-auction-items,
    casino-round-live,
    casino-rounds {
        z-index: 9;
    }
    casino-auction-items {
        position: fixed;
        left: 0;
        top: 0px;
    }
    casino-round-live {
        margin: 120px auto;
        display: block;
        width: 50%;
        height: 70%;
        z-index: 9;
        position: absolute;
        top: 0%;
        left: 25%;
    }
    casino-rounds {
        position: fixed;
        right: 0;
        top: 0px;
        padding: 0;
    }
}

.btn-transaction {
    @include mat-elevation(16);
    @include gold-gradient();
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 11;
    height: 80px;
    width: 130px;
    .dollar-sign {
        color: green !important;
        font-size: 48px;
    }
    mat-icon {
        color: #000;
        font-size: 48px;
        height: 48px;
        width: 48px;
    }
}

.btn-transaction:hover {
    @include silver-gradient();
}