<!-- <mat-card class="auction-items scrollable">
  <div class="auction-item-columns">
    <div class="item-name col">Auction Item</div>
    <div class="price col">Start Price</div>
    <div class="end-time col">End Time</div>
    <div class="price col">Sale Price</div>
  </div>
  <div class="auction-item" [class.ended]="item.ended" [class.pink]="item.name === 'Baby Pink Chip'" [class.blue]="item.name === 'Baby Blue Chip'"
    *ngFor="let item of auctionItems$ | async">
    <div class="item-name col">{{ item.name }}</div>
    <div *ngIf="item.cash" class="price col">{{ item.startPrice | currency }}</div>
    <div *ngIf="item.chips" class="price col">{{ item.startPrice }} chips</div>
    <div class="end-time col">{{ item.endTime | date:'shortTime' }}</div>
    <div *ngIf="item.cash" class="price col">{{ item.salePrice | currency }}</div>
    <div *ngIf="item.chips" class="price col">{{ item.salePrice }} chips</div>
  </div>
</mat-card> -->


<div class="auction-items scrollable">
  <button mat-raised-button (click)="createNew()">
    <mat-icon>add</mat-icon>
    New Auction Item
  </button>
  <casino-auction-item-preview *ngFor="let item of auctionItems$ | async; let i = index;" [item]="item" [order]="i"
    (click)="edit(item)"></casino-auction-item-preview>
  <button mat-raised-button (click)="createNew()">
    <mat-icon>add</mat-icon>
    New Auction Item
  </button>
</div>
